.dugme {
	background-color: #D2051E;
    border-width: 0;
    color: white;
    width: 360px;
    height: 30px;
    font-size: 14px;
}

form {
	height: 250px;
    width: 400px;
	display: inline-block;
	font-size: 1.0em;
}

.textPolje {
	width: 70px;

}

#pitanja {
	float: left;
	display: inline;
	padding-left: 60px;
	line-height: 1.33;
}

#forme {
	float:left;
	display: inline;
	width: 350px;
	height: 100%
}

#resenje > h2 {
	margin-top: 0px;
}

#resenje {
	width: 450px;
	height: 100%;
	display: inline;
}

#box {
	width: 800px;
	height: 100%;
	margin:0 auto;
}

#textResenja {
	margin-top: 0px;
	width: 43%;
	height: 400px;
}

html, 
body {
    height: 100%;
    overflow: auto;
}

body {
	margin: 0px;
	background: rgb(210,5,30);
	background: linear-gradient(133deg, rgba(210,5,30,1) 0%, rgba(2,0,36,1) 100%, rgba(255,0,0,1) 100%);
	text-align: center;
	color: white;
}